<div class="card">

    <div class="card-header">
        <h4>Meus Grupos</h4>
    </div>
    <div class="card-body">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>Nome</th>
                    <th>Data de Criação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Teste</td>
                    <td>25/04/1982</td>
                    <td>
                        <div class="d-flex">
                            <a href="#"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="#"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Teste</td>
                    <td>25/04/1982</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>