.footer-bg {
    background: #4255A4;
}

.footer-padding {
    padding-top: 100px;
    padding-bottom: 13px;
}

.footer-area .footer-pera p {
    color: #fff;
    padding-right: 52px;
    font-size: 16px;
    margin-bottom: 50px;
    line-height: 1.8;
}

.footer-area .footer-tittle {

    p, h4{
        color: #fff;
    }
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

