@import '../../../assets/_variables';

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-panel {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: 300px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-btn {
  background-color: $primary-color;
  color: $light-color;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 0px 4px 4px 0px;
  margin-top: 10px;
  cursor: pointer;
}

.login-btn.google {
  background-color: #dd4b39;
  color: white;
}

.login-btn.facebook {
  background-color: #3b5998;
  color: white;
}

.login-options {
  margin-top: 15px;
  text-align: center;
}

.login-options a {
  display: block;
  margin-bottom: 10px;
  color: #007bff; /* ou a cor que preferir */
  text-decoration: none;
}

.login-options a:hover {
  text-decoration: underline;
}

span.login-btn{
  width: 35px;
  border-radius: 4px 0px 0px 4px;
  border-right: solid 1px $light-color;
}

.login-form{
  margin-top: 20px;
}

a{
  &.logo{
      font-size: 30px;
      font-weight: 800;
  }

  i{
      padding: 0;
  }
}