// Variables
$font-family-base: 'Roboto', sans-serif;
$background-color: #F5F5F5;

$primary-color: #42abb5;
$secondary-color: #0b2941;
$light-color: #fcfbf2;

$text-color-primary: #595959;
$text-color-secundary: #dfeff0;
$text-color-terciary: #333;

$light-gray: #f2f2f2;

//gradiente
$gradiente: radial-gradient(circle, rgba(235,236,233,1) 0%, rgba(167,176,180,1) 59%);
