
.nav-item{
    &:hover{
        a{
            color: #FF9F67 !important;
            font-weight: 500;
            transform: scale(1.2);
        }
    }

    i{
        padding: 0;
    }
}

a.navbar-brand.logo {
    font-size: 30px;
    font-weight: 600;
}

.hide{
    display: none;
}