
.nav-item{
    &:hover{
        a{
            color: #FF9F67 !important;
            font-weight: 500;
            transform: scale(1.2);
        }
    }

    i{
        padding: 0;
    }
}

i{
    font-size: 24px;
    color: var(--text-color);
}

nav{
    &.navbar {
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.05);
        align-items: flex-end;
    }


    color: var(--text-color);
}

.toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin: 10px;
    font-size: 18px;
    color: var(--text-color);
}

a.navbar-brand.logo {
    font-size: 30px;
    font-weight: 600;  
    color: var(--text-color);  
}

.hide{
    display: none;
}