<!-- Navigation Menu -->
<nav class="navbar navbar-expand-lg">
  
  <button *ngIf="isAutenticado()" (click)="toggleSidebar()" class="toggle-btn">
    <i class="fas fa-bars"></i>
  </button>
  <div class="container">
    <a class="navbar-brand logo" href="home">
      Doctrina
      <i class="fa fa-solid fa-graduation-cap"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <i class="fa fa-solid fa-graduation-cap hide"></i>
          <a class="nav-link" href="home#about">Sobre</a>
        </li>
        <li class="nav-item">
          <i class="fa fa-solid fa-graduation-cap hide"></i>
          <a class="nav-link" href="home#pricing">Preços</a>
        </li>
        <li class="nav-item">
          <i class="fa fa-solid fa-graduation-cap hide"></i>
          <a class="nav-link" href="#disciplines">Disciplinas</a>
        </li>
        <li class="nav-item">
          <i class="fa fa-solid fa-graduation-cap hide"></i>
          <a class="nav-link" href="#forum">Fórum</a>
        </li>
        <li class="nav-item">
          <i class="fa fa-solid fa-graduation-cap hide"></i>
          <a class="nav-link" href="#contact">Contato</a>
        </li>
      </ul>
    </div>
    <app-profile *ngIf="isAutenticado()" [usuario]="getUsuario()"></app-profile>
    <div *ngIf="!isAutenticado()">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link btn orange" [href]="'/registro'">Crie sua conta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn light" [href]="'/login'">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-sidebar-menu *ngIf="isAutenticado()" [isCollapsed]="isCollapsed"></app-sidebar-menu>